cohere
huggingface-hub
Jinja2
langchain
langchain-community
langchain-core
langsmith
nltk
numpy
packaging
pandas
# pinecone-client
prompt-toolkit
pymongo
pypdf
langchain-pinecone
python-dateutil
langchain-cohere
voyageai
langchain-google-genai

regex
sentence-transformers
sentencepiece
streamlit
tiktoken
tokenizers
toml
toolz
tornado
tqdm
traitlets
transformers

tzdata
tzlocal

langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
